name: "Labeler: Model Pull Requests"

on:
  schedule:
    - cron: "34 4 * * 4"

  workflow_dispatch:
    inputs:
      org_repo:
        description: "The org/repo to use (defaults to current repo)"
        type: string

jobs:
  model-pulls:
    runs-on: ubuntu-latest
    timeout-minutes: 600

    steps:
      - uses: actions/checkout@v4

      # Restore cache after checkout to ensure files aren't cleaned or removed
      - name: "Restore pull-data.tsv from cache"
        id: restore-cache
        uses: actions/cache@v4
        with:
          path: labeler-cache/pull-data.tsv
          key: github-ml-labeler/${{ inputs.org_repo || $GITHUB_REPOSITORY }}/download-pulls
          fail-on-cache-miss: true

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: "Run ModelCreator"
        run: |
          dotnet run --project src/ModelCreator -- \
            --pull-data labeler-cache/pull-data.tsv \
            --pull-model labeler-cache/pull-model.zip

      - name: "Cache pull-model.zip"
        uses: actions/cache@v4
        with:
          path: labeler-cache/pull-model.zip
          key: github-ml-labeler/${{ inputs.org_repo || $GITHUB_REPOSITORY }}/model-pulls
