name: "Labeler: Download Issues"

on:
  workflow_call:
    inputs:
      github_token:
        description: "The GitHub token (defaults to action token)"
        type: string
      org_repo:
        description: "The org/repo to download data from (defaults to current repository)"
        type: string
      label_prefix:
        description: "Label prefix"
        type: string
        default: "area-"
      page_size:
        description: "The number of items to include on each request"
        type: number
        default: 100
        required: true
      page_limit:
        description: "Max pages of items to download"
        type: number
        default: 1000
        required: true
      retries:
        description: "Comma-separated list of retry delays in seconds"
        type: string
        default: "30,30,30,300,300,3600"
      data_key:
        description: "The optional cache key override to use for saving the downloaded data"
        type: string

  workflow_dispatch:
    inputs:
      github_token:
        description: "The GitHub token (defaults to action token)"
        type: string
      org_repo:
        description: "The org/repo to download data from (defaults to current repository)"
        type: string
      label_prefix:
        description: "Label prefix"
        type: string
        default: "area-"
      page_size:
        description: "The number of items to include on each request"
        type: number
        default: 100
        required: true
      page_limit:
        description: "Max pages of items to download"
        type: number
        default: 1000
        required: true
      retries:
        description: "Comma-separated list of retry delays in seconds"
        type: string
        default: "30,30,30,300,300,3600"
      data_key:
        description: "The optional cache key override to use for saving the downloaded data"
        type: string

permissions:
  issues: read

env:
  CACHE_KEY: ${{ inputs.data_key || format('github-ml-labeler/{0}/download-issues', (inputs.org_repo || github.repository)) }}

jobs:
  labeler-download-issues:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
      - name: Check out the 'jeffhandley/github-ml-labeler' repo
        uses: actions/checkout@v4
        with:
          repository: jeffhandley/github-ml-labeler

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Run GitHubDownloader
        run: |
          dotnet run --project src/GitHubDownloader -- \
            --token "${{ inputs.github_token || secrets.GITHUB_TOKEN }}" \
            --repo "${{ inputs.org_repo || github.repository }}" \
            --issue-data labeler-cache/issue-data.tsv \
            --retries "${{ inputs.retries || '30,30,30,300,300,3600' }}" \
            --label-prefix "${{ inputs.label_prefix || 'area-' }}" \
            --page-size ${{ fromJSON( inputs.page_size || 100 ) }} \
            --page-limit ${{ fromJSON( inputs.page_limit || 1000 ) }}

          echo "Data downloaded. Caching into '${{ env.CACHE_KEY }}'."

      - name: Save issue-data.tsv to '${{ env.CACHE_KEY && format('''{0}'' cache', env.CACHE_KEY) || 'cache' }}'
        uses: actions/cache/save@v4
        with:
          path: labeler-cache/issue-data.tsv
          key: ${{ env.CACHE_KEY }}
