name: "Labeler: Download Issues"

on:
  schedule:
    - cron: "*/30 * * * *"

  workflow_dispatch:

permissions:
  issues: read

jobs:
  labeler-download-issues:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Run GitHubDownloader
        run: |
          cd src/GitHubDownloader
          dotnet run -- "${GITHUB_REPOSITORY}" "${{secrets.GITHUB_TOKEN}}" --issue-data ../../labeler-cache/issue-data.tsv

      - uses: actions/cache@v4
        with:
          path: labeler-cache/issue-data.tsv
          key: github-ml-labeler/download-issues
