name: "Labeler: Download Pulls"

on:
  schedule:
    - cron: "12 2 * * 2"

  workflow_dispatch:

permissions:
  pull-requests: read

jobs:
  labeler-download-pulls:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Run GitHubDownloader
        run: |
          cd src/GitHubDownloader
          dotnet run -- "dotnet/runtime" "${{secrets.DOTNET_RUNTIME}}" --pull-data ../../labeler-cache/pull-data.tsv

      - uses: actions/cache@v4
        with:
          path: labeler-cache/pull-data.tsv
          key: github-ml-labeler/download-pulls
